# পান্ডাজ (Pandas): ডেটা ম্যানিপুলেশন

## ডেটাসেট লোড করা এবং ডেটাসেট সম্পর্কে বেসিক ধারনা নেওয়া

In [1]:
# import pandas library
import pandas as pd

In [20]:
#load dataset
dataset = pd.read_csv('ks.csv')

In [4]:
# ডেটা সেটে কয়টি রো এবং কলাম আছে অর্থাৎ ডেটার ডায়মেনশন দেখা 
dataset.shape

(378661, 15)

In [5]:
# ডেটার ডেটা টাইপ দেখা
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [6]:
# ডেটা সেটে নাল ভ্যালু আছে কি না দেখা 
dataset.isnull().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [8]:
# পুরো ডেটা সেট দেখা 
dataset.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00

In [11]:
# টার্গেট কলামে কি কি আছে 
dataset['state'].value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

In [12]:
# টার্গেট কলামের live এর রো গুলো ডিলেট করে দেওয়া 
dataset = dataset.query('state != "live"')

In [13]:
dataset['state'].value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
suspended       1846
Name: state, dtype: int64

In [21]:
# ডেটা সেটে নতুন ফিচার যোগ করা 
# Add outcome column, "successful" == 1, others are 0
dataset = dataset.assign(outcome=(dataset['state'] == 'successful').astype(int))

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375862 entries, 0 to 378660
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                375862 non-null  int64
 1   name              375858 non-null  object
 2   category          375862 non-null  object
 3   main_category     375862 non-null  object
 4   currency          375862 non-null  object
 5   deadline          375862 non-null  object
 6   goal              375862 non-null  float64
 7   launched          375862 non-null  object
 8   pledged           375862 non-null  float64
 9   state             375862 non-null  object
 10  backers           375862 non-null  int64
 11  country           375862 non-null  object
 12  usd pledged       372066 non-null  float64
 13  usd_pledged_real  375862 non-null  float64
 14  usd_goal_real     375862 non-null  float64
 15  outcome           375862 non-null  int64
dtypes: float64(5), int64(3), object(8)
memory usage: 48.7+ MB

In [22]:
# ডেটাসেট থেকে কোন ফিচার ডিলেট করা 
dataset.drop('state', axis=1, inplace=True)

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   backers           378661 non-null  int64
 10  country           378661 non-null  object
 11  usd pledged       374864 non-null  float64
 12  usd_pledged_real  378661 non-null  float64
 13  usd_goal_real     378661 non-null  float64
 14  outcome           378661 non-null  int64
dtypes: float64(5), int64(3), object(7)
memory usage: 43.3+ MB